body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
}

footer {
    margin-top: 4%;
    background-color: #666b4c;
    color: white;
    width: 100%;
    -moz-box-shadow: 0 -5px 5px #27272780;
    -webkit-box-shadow: 0 -5px 5px #27272780;
    box-shadow: 0 -5px 5px #27272780;
    position: relative;
}

.footer-copyright {
    background-color: rgba(22, 14, 18, 0.29);
}

a {
    color: black;
}

sm {
    background-image: url("./stijlen/afbeeldingen/sm.png");
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a:hover {
    color: white;
}


.border-right {
    border-right: 1px solid black;
}

#test {
    text-align: left;

}

#test2 {
    background-color: rgba(255, 255, 255, 0);

}

#test3 {
    text-align: center;

}


.een {
    background-color: white;
}

.twee {
    background-color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

li {
    text-align: left;
}

p {
    text-align: left;
}

th {
    text-align: center;
}

thead {
    background-color: #f0e6e6;
}

.red:hover{
	color: red;
}

.desktop {
    display: flex;
    justify-content: center;
  }
  
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* adjust to your desired max-width */
  }
  
.card {
    width: calc(50% - 10px); /* subtract the margin from the total width */
    margin: 0 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.59);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.59);
  }

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  .button1 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 0px;
    background-color: #686c4c;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .button2 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 0px;
    background-color: #686c4c;
    color: white;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.5s ease;
  }

  .highlight {
    background-color: grey;
  }
  
  .highlight-red {
    background-color: #9ca848;
  }
  